@model List<KidsClothes.Core.Models.StaticContentDetail>

@{
    int intCounter = 0;
}
<div class="bg-image pt-7 pb-5 pt-md-12 pb-md-9"
     style="background-image: url(/Content/client/my-img/34.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3">
                <div class="count-container text-center">
                    @{
                        int.TryParse(Model[0].ShortDescription, out intCounter);

                        <div class="count-wrapper text-white">
                            <span class="count" data-from="0" data-to="@intCounter" data-speed="3000"
                                  data-refresh-interval="50">0</span>k+

                        </div><!-- End .count-wrapper -->
                    }
                    <h3 class="count-title text-white">@Model[0].Title</h3><!-- End .count-title -->
                </div><!-- End .count-container -->
            </div><!-- End .col-6 col-md-3 -->

            <div class="col-6 col-md-3">
                <div class="count-container text-center">
                    @{
                        int.TryParse(Model[1].ShortDescription, out intCounter);

                        <div class="count-wrapper text-white">
                            <span class="count" data-from="0" data-to="@intCounter" data-speed="3000"
                                  data-refresh-interval="50">0</span>+
                        </div><!-- End .count-wrapper -->
                    }
                    <h3 class="count-title text-white">@Model[1].Title</h3><!-- End .count-title -->
                </div><!-- End .count-container -->

            </div><!-- End .col-6 col-md-3 -->

            <div class="col-6 col-md-3">
                <div class="count-container text-center">
                    @{
                        int.TryParse(Model[2].ShortDescription, out intCounter);

                        <div class="count-wrapper text-white">
                            <span class="count" data-from="0" data-to="@intCounter" data-speed="3000"
                                  data-refresh-interval="50">0</span>%
                        </div><!-- End .count-wrapper -->
                    }
                    <h3 class="count-title text-white">@Model[2].Title</h3><!-- End .count-title -->
                </div><!-- End .count-container -->
            </div><!-- End .col-6 col-md-3 -->

            <div class="col-6 col-md-3">
                <div class="count-container text-center">
                    @{
                        int.TryParse(Model[3].ShortDescription, out intCounter);

                        <div class="count-wrapper text-white">
                            <span class="count" data-from="0" data-to="@intCounter" data-speed="3000"
                                  data-refresh-interval="50">0</span>
                        </div><!-- End .count-wrapper -->
                    }
                    <h3 class="count-title text-white">@Model[3].Title</h3><!-- End .count-title -->
                </div><!-- End .count-container -->
            </div><!-- End .col-6 col-md-3 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .bg-image pt-8 pb-8 -->