@model List<KidsClothes.Core.Models.StaticContentDetail>

@{

}

@*<div class="intro-slider-container">
        <div class="intro-slider owl-carousel owl-simple owl-nav-inside owl-light" data-toggle="owl"
             data-owl-options='{"nav":false, "dots": false, "loop": false}'>
            <div class="intro-slide" style="background-image: url(/Content/client/my-img/35.jpg);">
                <div class="container intro-content text-center">
                    <h3 class="intro-subtitle">پیشنهاد های جدید</h3><!-- End .h3 intro-subtitle -->
                    <h1 class="intro-title text-white">کالکشن بهار 1399</h1><!-- End .intro-title -->

                    <a href="#scroll-to-content" class="btn btn-outline-primary-2 scroll-to">
                        <span>پیمایش به محصولات</span>
                        <i class="icon-long-arrow-down"></i>
                    </a>
                </div><!-- End .intro-content -->
            </div><!-- End .intro-slide -->
        </div><!-- End .intro-slider owl-carousel owl-simple -->

        <span class="slider-loader text-white"></span><!-- End .slider-loader -->
    </div><!-- End .intro-slider-container -->*@

<div class="intro-slider-container mb-0">
    <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl"
         data-owl-options='{"nav": false, "dots": false, "rtl": true, "loop": true}'>

        @foreach (var item in Model)
        {
            string link = "";
            if (!String.IsNullOrEmpty(item.Link))
            {
                link = item.Link;
            }
            <div class="intro-slide"
                 style="background-image: url(/Files/StaticContentImages/Image/@item.Image);">
                <div class="container intro-content text-center">
                    <h3 class="intro-subtitle text-white">@item.Title</h3><!-- End .h3 intro-subtitle -->
                    <h1 class="intro-title text-white">@Html.Raw(item.ShortDescription)</h1><!-- End .intro-title -->

                    <a href="@item.Link" class="btn btn-outline-primary-2 scroll-to">
                        <span>مشاهده</span>
                        <i class="icon-long-arrow-down"></i>
                    </a>
                </div><!-- End .intro-content -->
            </div><!-- End .intro-slide -->
        }

    </div><!-- End .intro-slider owl-carousel owl-theme -->

    <span class="slider-loader text-white"></span><!-- End .slider-loader -->
</div><!-- End .intro-slider-container -->




@*<div class="container">

    <div class="row">
        <div class="col-lg-12 col-12">
            <div class="intro-slider-container mt-2">
                <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl"
                     data-owl-options='{
                                    "dots": true,
                                    "nav": true,
                                    "rtl": true,
                            "responsive": {
                                        "1200": {
                                            "nav": true,
                                            "dots": true
                                        }
                                    }
                                }'>
                    @foreach (var item in Model)
                    {
                        string link = "";
                        if (!String.IsNullOrEmpty(item.Link))
                        {
                            link = item.Link;
                        }

                        <div class="intro-slide banner-lg"
                             style="background-image: url(/Files/StaticContentImages/Image/@item.Image);">
                            <div class="intro">
                                <div class="title">
                                    <a>@item.Title</a>
                                </div>
                                <div class="content">
                                    <h3>@Html.Raw(item.ShortDescription)</h3>
                                    <h4>@Html.Raw(item.Description)</h4>
                                </div>
                                <div class="action">
                                    <a href="@item.Link">خرید</a>
                                </div>
                            </div>
                        </div><!-- End .intro-slide -->
                    }


                </div><!-- End .intro-slider owl-carousel owl-simple -->

                <span class="slider-loader"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->
        </div>
    </div>

</div>*@

@*<section id="banner-part" class="menu-section pb-100">
        <div class="banner main-banner owl-carousel">
            @foreach (var item in Model.Where(m => m.Image != null))
            {
                string link = "";
                if (!String.IsNullOrEmpty(item.Link))
                {
                    link = item.Link;
                }
                <a href="@link" style="display:block;">
                    <div class="banner">

                        <img src="/Files/StaticContentImages/Image/@item.Image" alt="@item.Title">
                        <div class="banner-detail">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="banner-detail-inner">
                                            @if (item.Title != null)
                                            {
                                                <span class="subtitle1">@item.Title</span>
                                            }
                                            @if (item.ShortDescription != null)
                                            {
                                                <h1 class="banner-title">@item.ShortDescription</h1>
                                            }
                                            @if (item.ShortDescription != null)
                                            {
                                                <div class="subtitle2">
                                                    <span class="part1">@Html.Raw(item.Description)</span>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </section>*@

