@model KidsClothes.Web.ViewModels.SocialViewModel

<div class="col-lg-6">
    <div class="cta-wrapper cta-text text-center">
        <h3 class="cta-title">شبکه های اجتماعی</h3><!-- End .cta-title -->
        <p class="cta-desc">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی
            با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
        </p>
        <!-- End .cta-desc -->

        <div class="social-icons social-icons-colored justify-content-center">
            <a href="#" class="social-icon social-facebook" title="فیسبوک" target="_blank">
                <i class="icon-facebook-f"></i>
            </a>
            <a href="#" class="social-icon social-twitter" title="توییتر" target="_blank">
                <i class="icon-twitter"></i>
            </a>
            <a href="#" class="social-icon social-instagram" title="اینستاگرام"
               target="_blank"><i class="icon-instagram"></i></a>
            <a href="#" class="social-icon social-youtube" title="یوتیوب" target="_blank">
                <i class="icon-youtube"></i>
            </a>
            <a href="#" class="social-icon social-pinterest" title="پینترست" target="_blank">
                <i class="icon-pinterest"></i>
            </a>
        </div><!-- End .soial-icons -->
    </div><!-- End .cta-wrapper -->
</div><!-- End .col-lg-6 -->


@*<div class="col-md-4">
    <div class="contact-box text-center">
        <h3>شبکه های اجتماعی</h3>

        <div class="social-icons social-icons-color justify-content-center">
            <a href="@Model.Facebook.Link" class="social-icon social-facebook" title="فیسبوک" target="_blank">
                @Html.Raw(Model.Facebook.ShortDescription)
            </a>
            <a href="@Model.Twitter.Link" class="social-icon social-twitter" title="توییتر" target="_blank">
                @Html.Raw(Model.Twitter.ShortDescription)
            </a>
            <a href="@Model.Instagram.Link" class="social-icon social-instagram" title="اینستاگرام" target="_blank">
                @Html.Raw(Model.Instagram.ShortDescription)
            </a>
            <a href="@Model.Youtube.Link" class="social-icon social-youtube" title="یوتیوب" target="_blank">
                @Html.Raw(Model.Youtube.ShortDescription)
            </a>
            <a href="@Model.Pinterest.Link" class="social-icon social-pinterest" title="پینترست" target="_blank">
                @Html.Raw(Model.Pinterest.ShortDescription)
            </a>
        </div><!-- End .soial-icons -->
    </div><!-- End .contact-box -->
</div><!-- End .col-md-4 -->*@