@model KidsClothes.Core.Models.StaticContentDetail

@{
    ViewBag.Title = "خانه";
}

@Html.Action("HeaderSection", "Home")

    <main class="main">

        @Html.Action("HomeTopSliderSection", "Home")

        @Html.Action("OffersSection", "Home")

        <div class="video-banner video-banner-bg video-fullheight bg-image text-center"
             style="background-image: url(/Files/StaticContentImages/Image/@ViewBag.HomeMiddleBanner.Image)">
            <div class="container">
                <h3 class="video-banner-title h1 text-white">
                    <span>@ViewBag.HomeMiddleBanner.ShortDescription</span>@ViewBag.HomeMiddleBanner.Title
                </h3><!-- End .video-banner-title -->

            </div><!-- End .container -->
        </div><!-- End .video-banner bg-image -->

        <div class="mb-2"></div><!-- End .mb-2 -->



        @Html.Action("HighRateProductsSection", "Home", new { take = 5 })

        @Html.Action("PartnerCompaniesSection", "Home", new { take = 8 } )

        

        <div class="container-fluid">
            <div class="cta cta-separator">
                <div class="row">
                    @Html.Action("HomeSocialsSection", "Home")

                    @Html.Action("HomeCustomerCommentsSection", "Home")

                </div><!-- End .row -->
            </div><!-- End .cta -->
        </div><!-- End .container-fluid -->

        <div class="mb-7"></div><!-- End .mb-7 -->

        @Html.Action("LatestArticlesSection", "Home", new { take = 4 })




    </main><!-- End .main -->
@*<main class="main">

        @Html.Action("HomeTopSliderSection", "Home")



        <div class="featured-back" style="background-image: url(/Files/StaticContentImages/Image/@ViewBag.BackImage)">
            <div class="container">
                <div class="section-title">
                    <ul class="nav nav-pills nav-border-anim" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab-featured-link" data-toggle="tab" href="#tab-featured"
                               role="tab" aria-controls="tab-featured" aria-selected="true"><span>جدیدترین</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab-best-link" data-toggle="tab" href="#tab-best" role="tab"
                               aria-controls="tab-best" aria-selected="false"><span>پرفروش ترین</span></a>
                        </li>
                    </ul>


                    <a class="link" href="/Shop">مشاهده همه محصولات</a>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="tab-content">

                            @Html.Action("LatestProductsSection", "Home", new { take = 8})

                            @Html.Action("TopSoldProductsSection", "Home", new { take = 6})


                        </div>

                    </div>

                </div>

                <div class="mb-2"></div><!-- End .mb-6 -->
            </div><!-- End .container -->
        </div>


        @Html.Action("OffersSection", "Home")

        @Html.Action("ServicesSection", "Home")

        @Html.Action("HighRateProductsSection", "Home", new { take = 5})

        @Html.Action("LatestArticlesSection", "Home", new { take = 4})

        <div class="newsletter m-0"
             style="background-image: url(/Files/StaticContentImages/Image/@ViewBag.NewsBackImage);">
            <div class="container">
                <div class="subscribe text-center">
                    <div class="intro">
                        <h3 class="title text-center">@ViewBag.NewsTitle</h3>
                        <h4 class="content">@ViewBag.NewsShorDescription</h4>
                    </div>
                    <div class="subscribe action">
                        <form action="/Home/AddEmailSubscription" method="post">
                            <div class="input-group">
                                <input name="Email" id="Name" type="email" required placeholder="آدرس ایمیل خود را وارد کنید" aria-label="Email Adress">
                                <div class="input-group-append">
                                    <button class="btn btn-subscribe" type="submit">
                                        <span>
                                            همین حالا عضو
                                            شوید
                                        </span>
                                    </button>
                                </div><!-- .End .input-group-append -->
                            </div><!-- .End .input-group -->
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </main>*@

