@model List<KidsClothes.Core.Models.Offer>

<div class="container categories pt-6">
    <h2 class="title-lg text-center mb-4">پیشنهاد ها</h2><!-- End .title-lg text-center -->
    @if (Model.Any())
    {
<div class="row">
    @if (@Model[1] != null)
    {
        <div class="col-6 col-lg-4">
            <div class="banner banner-display banner-link-anim">
                <a href="~/Offer?offerId=@Model[1].Id">
                    <img src="/Files/OffersImages/Image/@Model[1].Image" alt="بنر">
                </a>

                <div class="banner-content banner-content-center">
                    <h3 class="banner-title text-white text-center"><a href="~/Offer?offerId=@Model[1].Id">@Model[1].Title</a></h3>
                    <!-- End .banner-title -->
                    <a href="~/Offer?offerId=@Model[1]" class="btn btn-outline-white banner-link">
                        خرید<i class="icon-long-arrow-left"></i>
                    </a>
                </div><!-- End .banner-content -->
            </div><!-- End .banner -->
        </div><!-- End .col-sm-6 col-lg-3 -->
    }
    @if (@Model[0] != null)
    {
        <div class="col-6 col-lg-4 order-lg-last">
            <div class="banner banner-display banner-link-anim">
                <a href="~/Offer?offerId=@Model[0].Id">
                    <img src="/Files/OffersImages/Image/@Model[0].Image" alt="بنر">
                </a>

                <div class="banner-content banner-content-center">
                    <h3 class="banner-title text-white text-center"><a href="~/Offer?offerId=@Model[0].Id">@Model[0].Title</a></h3>
                    <!-- End .banner-title -->
                    <a href="~/Offer?offerId=@Model[0].Id" class="btn btn-outline-white banner-link">
                        خرید<i class="icon-long-arrow-left"></i>
                    </a>
                </div><!-- End .banner-content -->
            </div><!-- End .banner -->
        </div><!-- End .col-sm-6 col-lg-3 -->
    }
        <div class="col-sm-12 col-lg-4 banners-sm">
            <div class="row">
                @if (@Model[2] != null)
                {
                    <div class="banner banner-display banner-link-anim col-lg-12 col-6">
                        <a href="~/Offer?offerId=@Model[2].Id">
                            <img src="/Files/OffersImages/Image/@Model[2].Image" alt="بنر">
                        </a>

                        <div class="banner-content banner-content-center">
                            <h3 class="banner-title text-white text-center"><a href="~/Offer?offerId=@Model[2].Id">@Model[2].Title</a></h3>
                            <!-- End .banner-title -->
                            <a href="~/Offer?offerId=@Model[2].Id" class="btn btn-outline-white banner-link">
                                خرید<i class="icon-long-arrow-left"></i>
                            </a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                }
                @if (@Model[3] != null)
                {
                    <div class="banner banner-display banner-link-anim col-lg-12 col-6">
                        <a href="~/Offer?offerId=@Model[3].Id">
                            <img src="/Files/OffersImages/Image/@Model[3].Image" alt="بنر">
                        </a>

                        <div class="banner-content banner-content-center">
                            <h3 class="banner-title text-white text-center"><a href="~/Offer?offerId=@Model[0].Id">@Model[3].Title</a></h3>
                            <!-- End .banner-title -->
                            <a href="~/Offer?offerId=@Model[3].Id" class="btn btn-outline-white banner-link">
                                خرید<i class="icon-long-arrow-left"></i>
                            </a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                }
                </div>
        </div><!-- End .col-sm-6 col-lg-3 -->
    </div><!-- End .row -->
    }
</div><!-- End .container -->
@*<div class="sub-banner-part pb-100">
        <div class="container">
            @if (Model.Any())
            {
                <div class="row">
                    @if (Model.Count > 0)
                    {
                        <div class="col-md-4">
                            <div class="sub-banner-box">
                                <a href="#">
                                    <img class="d-block" src="/Files/OffersImages/@Model[0].Image" alt="@Model[0].Title">
                                </a>
                            </div>
                        </div>
                    }
                    <div class="col-md-8">
                        <div class="row">
                            @if (Model.Count > 1)
                            {
                                <div class="col-md-8">
                                    <div class="sub-banner-box">
                                        <a href="#">
                                            <img class="d-block" src="/Files/OffersImages/@Model[1].Image" alt="@Model[1].Title">
                                        </a>
                                    </div>
                                </div>
                            }
                            @if (Model.Count > 2)
                            {
                                <div class="col-md-4">
                                    <div class="sub-banner-box">
                                        <a href="#">
                                            <img class="d-block" src="/Files/OffersImages/@Model[2].Image" style="margin: auto" alt="@Model[2].Title">
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="row">
                            @if (Model.Count > 3)
                            {
                                <div class="col-12">
                                    <div class="sub-banner-box">
                                        <a href="#">
                                            <img class="d-block" src="/Files/OffersImages/@Model[3].Image" alt="@Model[3].Title">
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>*@


@*<div class="container banner-container">
    @if (Model.Any())
    {
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-6 col-md-6 col-sm-6 banner-lg">
                    <a href="~/Offer?offerId=@item.Id">
                        <img src="/Files/OffersImages/@item.Image">
                    </a>
                    <div class="banner-content">
                        <div class="title">
                            <a href="~/Offer?offerId=@item.Id">@item.Title</a>
                        </div>
                        <div class="content">
                            <a href="~/Offer?offerId=@item.Id">
                                <h3 class="highlight">@Html.Raw(item.Description)</h3>
                            </a>
                        </div>
                        <div class="action">
                            <a href="~/Offer?offerId=@item.Id">خرید</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    }
</div>*@